<ion-content>
  <ion-slides pager="true">
    <ion-slide class="step1">
      <ion-img src="/assets/svg/049-mortarboard.svg"></ion-img>
      <h3>Welcome</h3>
      <p>Swipe right to know more...</p>
      <ion-button color='darker' (click)="redirectlogin()">Jump right in</ion-button>
    </ion-slide>
    <ion-slide class="step2">
      <ion-img src="/assets/svg/041-timetable.svg"></ion-img>
      <h3>Ease</h3>
      <p>Can't find the right schedule? Don't know <br>what to do? we got you covered!<br>
      With our scheduler, you will get ready <br> to register in 5 seconds only.</p>
    </ion-slide>
    <ion-slide class="step3">
      <ion-img src="/assets/svg/023-school bus.svg"></ion-img>
      <h3>Convenience</h3>
      <p>Always late to your classes because of traffic? <br> register for school transportation through
        the<br> app and never be late again!
      </p>
    </ion-slide>
    <ion-slide class="step4">
      <ion-img src="/assets/svg/024-calculator.svg"></ion-img>
      <h3>Interactive</h3>
      <p>Physics and Math are hard <br>But our meetings system is <br> just as easy as it gets</p>
      <ion-button color="darker" (click)="redirectlogin()">I'm Ready!</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
